{{ define "base" }}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>ClemFlix</title>

	<link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
	<link rel="stylesheet" href="/static/css/app.css" />
	<link rel="stylesheet" href="/static/css/search.css" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


	<script src="/static/js/base.js"></script>
	<script src="/static/js/search.js"></script>
</head>
<body>
	<header>
		<a href="/" id="title">
			ClemFlix
		</a>
		<input type="text" id="search" placeholder="Search" autocomplete="off" autofocus role="searchbox" aria-controls="search-results" />
		<ul id="search-results" class="hide" role="combobox"></ul>
		<div id="account-section">
			{{ template "account" .user }}
		</div>
	</header>
	<section>
		{{ template "content" . }}
	</section>
</body>
</html>
{{ end }}
