{{ define "base" }}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>ClemFlix</title>

	<link rel="stylesheet" href="/static/css/app.css" />

	<script src="/static/js/base.js"></script>
</head>
<body>
	<header>
		<h1 id="title">
			<a href="/">
				ClemFlix
			</a>
		</h1>
		<nav>
			<ul>
				<li>
					{{ template "account" . }}
				</li>
			</ul>
		</nav>
	</header>
	<section>
		{{ template "content" . }}
	</section>
</body>
</html>
{{ end }}
