{{ define "content" }}
	{{ if .forYou }}
		<h3 class="row-title">
			For You
		</h3>
		{{ template "row" .forYou }}
	{{ end }}
	<h3 class="row-title">
		Most Popular
	</h3>
	{{ template "row" .mostPopular }}
	{{ if .recentlyWatched }}
		<h3 class="row-title">
			Continue Watching
		</h3>
		{{ template "row" .recentlyWatched }}
	{{ end }}
	{{ if .backlog }}
		<h3 class="row-title">
			Queue
		</h3>
		{{ template "row" .backlog }}
	{{ end }}
	{{ range $key, $list := .genres }}
		<h3 class="row-title">
			{{ $key }}
		</h3>
		{{ template "row" $list }}
	{{ end }}
	<script type="text/javascript" src="/static/js/index.js"></script>
{{ end }}
