{{ define "content" }}
<link rel="stylesheet" href="/static/css/login.css" />
<hr />
<h2 class="text-center form-title">
	Sign in to start enjoying a selection of over 100+ films
</h2>
<form id="login_form" action="/login" method="POST">
	{{ if .error }}
		<div class="error-container">
			{{ .error }}
		</div>
	{{ end }}
	<label for="email">Email:</label>
	<input type="email"
		name="email"
		id="email"
		value="{{.email}}"
		autofocus
		/>
	<label for="password">Password:</label>
	<input type="password"
		name="password"
		id="password"
		/>
	<div class="form-row">
		<button id="submit-button" type="submit">
			Login
		</button>
	</div>
	<div class="form-row">
		<a href="/register">Need an Account? Get Started</a>
	</div>
</form>
{{ end }}
