{{ define "preview" }}
	<div class="preview-container">
		<div class="preview-row">
			<h4>
				{{ .Title.String }}
				({{ .Year }})
			</h4>
			<span>
				{{ .RuntimeDisplay.String }}
			</span>
			<span>
				{{ .MPARating.String }}
			</span>
		</div>
		<div class="preview-row">
			<p class="description">
				{{ .Description.String }}
			</p>
			<div class="preview-actions">
				<a data-video-id="{{ .VideoId }}" class="queue-video" 
				{{ if .Queued }}
					active = "true">
					✓ Added to Queue
				{{ else }}
					>
					Watch Later
				{{ end }}
				</a>
				<a href="/v/{{ .VideoId }}" class="watch-video">
					Play
				</a>
			</div>
		</div>
	</div>
{{ end }}
